@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    font-family: 'Roboto-Condensed-Bold' !important;
    font-size: 15px;
    overflow: hidden;
}

.container{
    height: 100%;
    align-content: center;
    margin: 100px;
}

.card-main{
    width: 400px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
}

.text-line-though {
    text-align:center;
    margin-top : 10px;
    padding-bottom : 5px;
}
.text-line-though span {
    color: black;
    padding: 0 15px;
    font-size: 24px;
    font-family: 'Roboto-Condensed-Bold';
    text-transform: uppercase;
}

.btn-submit-info {
    width : 100% ; 
    height : 100% ;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
}

.btn-submit-info-1 {
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #21beff;
}

.btn-submit-info:hover{
    color: #21beff;
}

.btn-submit-info-1:hover {
    color: #fff;
}

.btn-aqua-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #21beff;
    color: #fff;
    padding: 8px 0;
    cursor: pointer;
    font-family: 'Roboto-Condensed-Bold';
    background-color: #21beff;
}

.btn-aqua {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #21beff;
    color: #21beff;
    padding: 8px 0;
    cursor: pointer;
    font-family: 'Roboto-Condensed-Bold';
}

.list-login a {
    width: 100%;
    text-align: center;
    font-size: 14px;

}

#span-left {
    float : left;
}

#span-left a {
    color : #21beff;
}

#span-left a:hover{
    color : #00a1e6;
} 

#span-right {
    float: right;
}

#span-right a {
    color : #21beff;
}

#span-right a:hover{
    color : #00a1e6;
}


